*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
	 
}

.grid_container{
	display: grid;
	gap: 5px;
	grid-template: 
	"header" 100px
	"navbar" 150px
	"main"	auto
	"footer" 25px
	;
}

.header{
	grid-area: header;
	background-color: lightgray;
}


.navbar{
	grid-area: navbar;
	background-color: lightblue;
}

.main{
	grid-area: main;
	background-color: lightcoral;
}


.footer{
	grid-area: footer;
	background-color: lightgreen;
}

@media (min-width: 768px) {

	.grid_container{
      
		grid-template: 
		"header 	navbar" 	100px 
		"main    	main" 		auto
		"footer 	footer" 	50px /
		 200px 		auto;
 	}

}


@media (min-width: 992px) {
	.grid_container{
		
		grid-template: 
		"header 	navbar 	navbar" 	100px 
		"main 	    main 	main" 	    auto
		"footer  	footer 	footer" 	50px 
		 400px 		auto 	200px;
	}
}